:root{
    --main-color: #a91c48;
    --border-color: #d1d1d1;
    --border-radius: 10px;
    --main-text-color: #2b2b2b;
    --backgroung-color: #f8f8f8;
    --admin-btn-col: #009688;
    --main-padding: 15px;
}