.publications_wrapper{
    width: 100%;
    .publications_list_title{
        text-align: center;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: var(--main-padding);
        color: var(--main-text-color);
    }
    .publications_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .publications_empty{
        text-align: center;
        margin-top: 20px;
        color: var(--main-text-color);
    }
}
.publication_container{
    padding: 20px;
    &:nth-child(odd){
        padding-left: 0;
    }
    &:nth-child(even){
        padding-right: 0;
    }
    .publication {
        display: grid;
        grid-template-columns: 40px 1fr;
        grid-template-rows: 40px 160px;
        grid-template-areas:    "publication_header_left_box publication_date"
                                "publication_content publication_content";
        padding: 0;
        background-color: white;
        height: 200px;
        width: 100%;
        box-shadow: 0px 5px 10px 0px #00000026;
        .publication_header_left_block{
            grid-area: publication_header_left_box;
            background-color: var(--main-color);
            height: 100%;
        }
        .publication_date{
            grid-area: publication_date;
            background-color: var(--secondary-col);
            padding-left: var(--main-padding);
            time{
                color: white;
                line-height: 40px;
            }
        }
        .publication_content{
            grid-area: publication_content;
            overflow: hidden;
            position: relative;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 90%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: var(--main-text-color);
                font-size: 20px;
            }
            .publication_logo{
                height: 100%;
                width: 100%;
                background-size: 100%;
                background-position: center;
                opacity: 0.3;
                transition: all 0.3s;
            }
        }
        &:hover .publication_content .publication_logo{
            background-size: 110%;
            opacity: 0.55;
        }
    }
}