@import './app/shared/styles/fonts';
@import './app/shared/styles/variables';
@import './app/shared/styles/reset';

body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: system-ui, arial, sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
}
