<a [routerLink]="[ '/publications']" class="back_link">Повернутись до списку публікацій</a>
<div class="view_publication_wrapper">
    <div class="view_publication_box" [ngStyle]="{'background-image': 'url(' + currentPublication?.tempLogo + ')'}"></div>
    <div class="view_publication_header">
        <h1>{{currentPublication?.title}}</h1>
    </div>
    <div class="view_publication_content" [innerHTML]="currentPublicationContent"></div>
    <div *ngIf="currentPublication?.tempPhotos" class="view_publication_carousel">
        <app-carousel [photosList]="currentPublication?.tempPhotos"></app-carousel>
    </div>
    <div class="view_publication_date">
        <span>Дата публікації: <time>{{currentPublicationDate?.seconds * 1000 | date:'HH:mm, MMM d, y'}}</time></span>
    </div>
</div>